{% extends 'event_planner/base.html' %}
{% load static %}

{% block content %}
<h2>{{ category.name }} Kategorisindeki Etkinlikler</h2> 


<div class="event-grid">
    {% for event in events %}
    <div class="event-card">
        {% if event.photo %}
        <img src="{{ event.photo.url }}" alt="{{ event.name }}" class="event-image">  
        {% else %}
        <img src="{% static 'default_event_image.jpg' %}" alt="Varsayılan Etkinlik Resmi" class="event-image">  
        {% endif %}
        <div class="event-details">
            <h3>{{ event.name }}</h3>
            <p>Tarih: {{ event.event_date }}</p>
            <p>Saat: {{ event.event_time }}</p>
            <p>Oluşturan: {{ event.user.username }}</p> 
            
            {% if event.location %}
                
                <a href="{% url 'event_detail' event.id %}" class="event-link">Detayları Görüntüle</a>
            {% else %}
                <p>Konum bilgisi mevcut değil.</p>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <p>Bu kategoriye ait etkinlik bulunmamaktadır.</p>
    {% endfor %}
</div>
{% endblock %}
